.vscode
JLinkLog.txt
project.uvguix.nxa04576
*.nxa04576
*.nxf43161
EventRecorderStub.scvd
bash.exe.stackdump
*.pyc
*.map
*.dblite
*.elf
*.bin
*.hex
*.axf
*.exe
*.pdb
*.idb
*.ilk
*.old
build
Debug
documentation/html
*~
*.o
*.obj
*.bak
*.dep
bsp/imxrt/libraries/MIMXRT1170/CMSIS/DSP_Lib/Lib/
*.a
*.i
*.d
tools/kconfig-frontends/kconfig-mconf
cconfig.h
GPUCache

#cscope files
cscope.*
ncscope.*

#ctag files
tags

