mainmenu "RT-Thread Configuration"

config RTT_DIR
    string
    option env="RTT_ROOT"
    default "../../.."

config PKGS_DIR
    string
    option env="PKGS_ROOT"
    default "packages"

#kernel configuration
source "$RTT_DIR/Kconfig"

source "$PKGS_DIR/Kconfig"
#driver configuration
source "../libraries/Kconfig"
#board hardware configuration
source "board/Kconfig"
#nxp software component configuration
source "../components/Kconfig"
